big-data-architecture/assignments/consistent-hash-exchange/email-verifier-src.zip
big-data-architecture/assignments/consistent-hash-exchange/email-verifier.zip
big-data-architecture/assignments/match-predictor/match-predictor-mohammed.zip
big-data-architecture/assignments/milk-problem-continued/milk-problem-continued/.git/index
big-data-architecture/assignments/milk-problem/milk-problem-mohammed.zip
big-data-architecture/tempest/.git/index
machine-learning/supervised/Module4/data/mnist_784.csv
machine-learning/supervised/supervised-learning-final/.git/index
